/* Let's get this party started */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {

    background: #666;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, 0.4);
}

.NavigationBar {
    display: none;
    padding-left: 50px;
    height: 40px;
    width: 100%;
    z-index: 1;
    background: #555555;
    position: fixed;

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
}

.NavigationBar .logoWrapper {

    width: 400px;
    display: inline-block;

    overflow: hidden;

}

.NavigationBar .logoWrapper .logo {

    width: 70px;
    color: darkorange;
    font-size: 31px;
    font-weight: bolder;
    margin-bottom: 0;
    margin-top: 0;
    display: inline-block;
}

.NavigationBar .logoWrapper .teaser {

    color: #fff;
    font-size: 14px;
    font-weight: 400;
    width: 60%;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;

}

.NavigationBar .navLinks {

    width: 700px;
    display: inline-block;
    position: absolute;
    top: 13px;

}

.NavigationBar .navLinks ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
}

.NavigationBar .navLinks ul li {
    display: inline-block;
}

.NavigationBar .navLinks ul li a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 25px;
    line-height: 35px;
}

.Navigation a {

    display: block;
}

a:hover {
    color: gray;
}

body {

    margin: 0 auto;
    overflow-x: hidden;
    font-family: "Segoe UI", Arial, Helvetical, sans-serif

}

.buttonGroup {
    width: 50px;
    float: left;
    margin-left: -20px;

}

.btn {
    width: 50px;
    height: 50px;
    background: #d3d3d3;

    box-sizing: border-box;
    padding: 7px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;

}

.btn:hover {
    background: #2b405c;
    cursor: pointer;

}

.btn.active {
    background: #2b405c;
}

#btn1 {
    background-image: url(../assets/IconAndereBlack.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 4px;

}

#btn1:hover, #btn1.active {
    background-image: url(../assets/IconAndereWhite.png);

}

#btn2 {
    background-image: url(../assets/IconDorfBlack.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 4px;

}

#btn2:hover, #btn2.active {
    background-image: url(../assets/IconDorfWhite.png);

}

#btn3 {
    background-image: url(../assets/IconZertifikatBlack.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 4px;

}

#btn3:hover, #btn3.active {
    background-image: url(../assets/IconZertifikatWhite.png);

}

.section {
    width: 100%;
    position: relative; /* importet for position Gallery*/
}

#Start {
    background: url(../assets/wiese.jpg) 50% 0 repeat fixed;
    min-height: 1000px;
    height: 1200px;
    margin: 0 auto;
    width: 100%;

    position: relative;
}

.article {

    font-size: 50px;
    color: white;
    padding-top: 100px;
    text-align: center;
}

.article p {

    font-size: 24px;
}

#Start article {
    height: 458px;
    position: absolute;
    text-align: center;
    top: 150px;
    width: 100%;
}

.scrollArrowWrapper {
    height: 55px;
    position: relative;
    padding-top: 10px;
}

.scrollArrow {
    position: relative;
    transition: all 0.3s linear;
    width: 51px;
    height: 51px;
    background: url("../assets/sprite.png");
    background-position: 0px -1298px;
    text-align: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.scrollArrow:hover {

    margin-top: 28px;
    cursor: pointer;
}

.scrollArrow a {
    position: absolute;
    width: 51px;
    height: 51px;
    left: 0;
}

.topper {
    width: 100%;
    min-height: 300px;
}

.DasDorf {

    min-height: 1000px;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;

    position: relative;
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}

.topper {

    padding-top: 70px;
    padding-left: 20px;
    padding-bottom: 50px;
    text-align: center;
}

.bottom {
    background: #edebe9;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;

    color: #555555;
    font-size: 14px;
    min-height: 500px;

}

.zitat {
    font-size: 17px;
    color: #EA5E0F;
}

.leftSide {
    width: 28%;
    height: inherit;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
}

.bottom .textBox {
    min-height: 400px;
}

.bottom .middle {
    width: 32%;
    height: inherit;
    display: inline-block;
    padding-right: 20px;

}

.rightSide {
    width: 28%;
    height: inherit;
    float: right;
    padding-right: 20px;
}

#section2 .topper {
    background: cadetblue;
}

#section3 .zitat {
    padding-left: 50px;
    padding-right: 0;
}

#section3 .topper {
    background: cornflowerblue;
}

#section4 .topper {
    background: goldenrod;
}

#section5 .topper {
    background: #2b405c;
}

#section10 .topper {
    background: #2b405c;

}

.DasDorf .header {
    position: static;
    color: #fff;
    font-size: 32px;
    font-weight: 500;
}

.textBoxWrapper {
    width: 1200px;
    margin: 0 auto;
}

.textBox {

    width: 750px;
    min-width: 500px;

    margin: 0 auto;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.DasDorf article {
    height: 458px;
    position: absolute;
    text-align: center;
    top: 150px;
    width: 100%;

}

.DasDorf .Berufe .wrapper {
    text-align: center;
    background: #edebe9;
    padding-top: 50px;
    padding-bottom: 40px;

}
 .person{

    width: 200px;
    display: inline-block;
    margin-right: 20px;

}
 .person h3{}

.DasDorf .Berufe .imageWrap {
    width: 200px;
    height: 150px;
    display: inline-block;
    background-color: #B5A8BA;
    background-repeat: no-repeat;
    background-position-x: 65px;
    background-position-y: 45px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;

}
.DasDorf .Berufe .imageWrap:hover {
   background-color: #D6C5DB;
    cursor: pointer;
}

.DasDorf .Berufe .imageWrap.job1{

    background-image: url("../assets/watering_can-64.png") ;

}.DasDorf .Berufe .imageWrap.job2{

    background-image: url("../assets/wheat-64.png") ;

}.DasDorf .Berufe .imageWrap.job3{

    background-image: url("../assets/cow-64.png") ;

}
.DasDorf .Berufe .imageWrap.job4{

    background-image: url("../assets/coking_pot-64.png") ;

}

 .person h3 {
    color: #555555;
     text-align:center ;
}

.DasDorf .person1 .detailsWrapper {
    display: block;
}

/* Start Ueber Uns Styling */

.UeberUns .Verein {

    width: 400%;
    max-width: 750px;
    min-width: 500px;
    text-align: center;
    margin: 0 auto;
}

.UeberUns .Verein p {

    color: #fff;
    font-weight: 500;
}

.UeberUns .topper {
    text-align: center;
    min-height: 350px;
    background: darkorange;
}

.UeberUns .topper h2 {
    padding-top: 50px;
    margin-top: 0;
    color: #fff;
}

/* Start section7 Styling */

#section7.UeberUns .tableCell {
    vertical-align: top;
    background: #edebe9;
}

#section7.UeberUns .topper {
    background: #fc4f4f;
    padding-bottom: 100px;
    overflow: hidden;
    margin-bottom: -22px;
    font-size: 18px;
}

#section7.UeberUns .topper .Verein .header {

    color: #fff;
    font-weight: 500;
    font-size: 36px;
}

#section7.UeberUns .textContainer {
    width: 100%;
    background: #edebe9;

}

#section7.UeberUns .textWrapper {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 750px;
    min-width: 500px;
    text-align: center;
    margin: 0 auto;
    color: #555555;
    font-size: 18px;
}

/* Start section9 Styling */

#section9.UeberUns {
    background: #edebe9;
    min-height: 1000px;
    background-repeat: no-repeat;

}

#section9.UeberUns h2 {
    color: #444444;

}

#section9 .topper {
    padding-top: 50px;
}

.detailContainer {
    text-align: center;
    height: 500px;
    background: #ffffff;
}

.detailsWrapper {

    width: 70%;
    text-align: center;;
    margin: 0 auto;
    padding-top: 100px;
    overflow: hidden;
}

.detailsWrapper .leftSide {

    width: 30%;
    float: left;
}

.detailsWrapper .rightSide {

    width: 60%;
    float: right;
}

.zitat {

    color: #EA5E0F;;
}

#section9.UeberUns .personalWrapper {
    text-align: center;
    padding-top: 60px;
}

#section9.UeberUns .person {
    display: inline-block;
}

#section9.UeberUns .imageWrap {

    width: 160px;
    height: 160px;
    display: inline-block;
    margin-right: 10px;
}

#section9.UeberUns h3 {

    color: #555555;
}

#section9.UeberUns .active {

    border: 2px solid gold;
    border-radius: 250px;
}

#section9.UeberUns .imageWrap img {

    width: 100%;
    height: 100%;
    border-radius: 250px;
    box-sizing: border-box;
}

.imageWrap img:hover {

    cursor: pointer;
}

#section10 .bottom {

    padding-bottom: 100px;
    position: relative;
}

#section10 .bottom .textBox .middle {
    width: 100%;
    color: #555555;
    text-align: center;

}

#section10 .Supporter {

    width: 100%;
    color: #555555;
    text-align: center;

}

#section10 .certificate {

    width: 100%;
    color: #555555;
    text-align: center;
}

#section11 .topper {
    background: #e9967a;
}

#section11 .bottom .textBox {
    color: #555555;
    text-align: center;
}

#section11 #btn4, #section11 #btn5, #section11 #btn6 {
    background: #d3d3d3;

}

#section11 #btn4:hover, #section11 #btn5:hover, #section11 #btn6:hover, #section11 #btn4.active, #section11 #btn5.active, #section11 #btn6.active {
    background: #e9967a;

}

#section11 #btn4 {
    background-image: url(../assets/IconPigBlack.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 4px;

}

#section11 #btn4:hover, #section11 #btn4.active {
    background-image: url(../assets/IconPigWhite.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 4px;

}

#section11 #btn5 {
    background-image: url(../assets/IconRabbitBlack.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 4px;

}

#section11 #btn5:hover, #section11 #btn5.active {
    background-image: url(../assets/IconRabbitWhite.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 4px;

}

#section11 #btn6 {
    background-image: url(../assets/IconSheepBlack.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 4px;

}

#section11 #btn6:hover, #section11 #btn6.active {
    background-image: url(../assets/IconSheepWhite.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 4px;

}

#section11 #textBox4, #section11 #textBox5, #section11 #textBox6 {
    display: none;
}

#Galerie {

    /*min-height: 1000px;*/
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#Anmelden {
    background: grey 50% 0 repeat fixed;
    min-height: 1000px;
    background-repeat: no-repeat;
    width: 100%;
}

#Wir {
    background: orange 50% 0 repeat fixed;
    min-height: 1000px;
    background-repeat: no-repeat;
    width: 100%;
}

#Andere {
    background: blue 50% 0 repeat fixed;
    min-height: 1000px;
    background-repeat: no-repeat;
    width: 100%;
}

#Kontakt {
    background: red 50% 0 repeat fixed;
    min-height: 1000px;
    background-repeat: no-repeat;
    width: 100%;
}

.footer {
    width: 100%;
    height: 30px;
    position: fixed;
    z-index: 30;
    bottom: 0;
    border-top: 1px solid darkgrey;
    background: #3a3a3a;
    opacity: 0.8;

}

.footer .kontaktIcon {
    width: 30px;
    height: 30px;

    background-image: url("../assets/contacts-64.png");
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    float: right;
    margin-right: 30px;
    background-color: #d3d3d3;
    transition: all 1s ease;

}

.footer .kontaktIcon:hover {
    cursor: pointer;
    background-color: goldenrod;

}

.footer .impressumIcon {
    width: 30px;
    height: 30px;
    transition: all 1s ease;
    background-image: url("../assets/contacts-64.png");
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    float: right;
    background-image: url("../assets/bill-48.png");
    background-color: #d3d3d3;
}

.footer .impressumIcon:hover {
    cursor: pointer;
    background-color: goldenrod;
}

.impressum {
    display: none;
    width: 700px;
    height: 600px;
    position: fixed;
    bottom: 45px;
    left: 30px;
    background: #3a3a3a;
    box-sizing: border-box;
    padding: 20px;
    overflow-y: scroll;
    color: #999;
}

.kontakt {
    display: none;
    width: 400px;
    height: 300px;
    position: fixed;
    bottom: 45px;
    right: 30px;
    background: #3a3a3a;
    box-sizing: border-box;
    padding: 20px;
}

.kontakt .wrapper div {
    color: #999;
    margin-bottom: 20px;
}

.kontakt .wrapper .link a {
    text-decoration: none;
    color: #f2f2f2;
}

.kontakt .wrapper .link a:hover {
    text-decoration: none;
    color: #fff;
}

.kontakt .wrapper .mail {
    color: #fff;
    text-decoration: none;

}

.kontakt .wrapper .mail .icon {
    display: inline-block;
    height: 20px;
    width: 20%;
    background-image: url("../assets/message-48.png");
    background-size: 30%;
    background-repeat: no-repeat;
    float: left;

}

.kontakt .wrapper .phone {
}

.kontakt .wrapper .phone .icon {
    display: inline-block;
    height: 20px;
    width: 20%;
    background-image: url("../assets/phone1-48.png");
    background-size: 30%;
    background-repeat: no-repeat;
    float: left;

}

.kontakt .wrapper .address {
    overflow: hidden;
}

.kontakt .wrapper .address .icon {

    display: inline-block;
    height: 20px;
    width: 20%;
    background-image: url("../assets/signpost-48.png");
    background-size: 30%;
    background-repeat: no-repeat;
    float: left;
}

.kontakt .wrapper .address .link {
    float: right;
    width: 80%;
}

.kontakt .wrapper .address .link p {
    margin-top: 0;
    margin-bottom: 0;
}

.kontakt .wrapper .download {
}

.kontakt .wrapper .download .icon {
    display: inline-block;
    height: 20px;
    width: 20%;
    background-image: url("../assets/downloading_updates-48.png");
    background-size: 30%;
    background-repeat: no-repeat;
    float: left;
}

.DasDorf .artikel .header {
    color: #EA5E0F;
    font-size: 22px;
    margin-bottom: 20px;
    position: static;
}

.DasDorf .artikel13 {
    right: 35%;
    top: 100px;
    border-color: #FF9C30;
}

.DasDorf .artikel14 {
    right: 5%;
    top: 460px;

    border-color: #89E08D;

}

.DasDorf .artikel15 {
    right: 66%;
    top: 460px;
    border-color: #88B8FF;

}

.DasDorf .artikel16 {
    right: 35%;
    top: 870px;
    border-color: #B91704;

}

.DasDorf .img {

    position: absolute;
    border: 3px solid grey;
    border-radius: 100px;
}

.DasDorf .img.img1 {

    top: 90px;
    right: 10%;

}

.DasDorf .img.img2 {

    right: 32%;
    top: 700px;

}

.DasDorf .img.img3 {

    left: 34%;
    top: 700px;

}

.DasDorf .img.img4 {

    left: 55%;
    top: 40px;
    border-radius: 50%;
    height: 300px;
    width: 300px;

}

.DasDorf .img.img5 {

    left: 40%;
    top: 90px;
    border-radius: 50px;

}

.DasDorf .img.img6 {

    left: 2%;

    border-radius: 50px;

}

.DasDorf .img.img7 {

    left: 17%;
    top: 830px;
    border-radius: 50px;

}

.DasDorf .img.img8 {

    left: 40%;
    top: 340px;
    border-radius: 50%;
    height: 300px;
    width: 300px;

}

.DasDorf .img.img9 {

    left: 70%;
    top: 340px;
    border-radius: 50%;
    height: 300px;
    width: 300px;

}

.zitat3 img {

    width: 100%;
    border-top: 2px solid #88B8FF;
    border-bottom: 2px solid #88B8FF;
    border-left: 2px solid #88B8FF;
    border-top-left-radius: 18px;
}

.zitat3 .text {
    padding: 20px;
    padding-right: 30px;
    margin-top: -3px;
    background: #f0f8ff;
    opacity: 0.65;
    border-bottom-left-radius: 18px;
}

.zitat4 {

    box-sizing: border-box;
    width: 280px;

    border-bottom: 2px solid #88B8FF;
    border-right: 2px solid #88B8FF;

    border-bottom-right-radius: 20px;

    border-top-right-radius: 20px;
    position: absolute;
    top: 2530px;
    left: 0%;

    font-size: 13px;
    font-weight: bold;
    color: #EA5E0F;
}

.zitat4 img {

    width: 100%;
    border-top: 2px solid #88B8FF;
    border-right: 2px solid #88B8FF;
    border-top-right-radius: 18px;

}

.zitat4 .text {
    padding: 20px;
    background: aliceblue;
    opacity: 0.65;
}

#ArbeitHeader.header {

    position: absolute;
    top: 2200px;
    left: 35%;
}

.circleBase {
    border-radius: 50%;
}

.circleType1 {
    width: 350px;
    height: 350px;
    background-color: aliceblue;
    opacity: 0.65;
    border: 3px solid red;
    /*box-sizing: border-box;*/
}

.DasDorf .circleType1 .wrapper {
    padding: 59px;
}

.DasDorf .circleType1 .header {
    font-size: 18px;
    margin-bottom: 0;
    position: static;
}

.DasDorf .circleType1 p {
    font-size: 14px;
    margin-top: 5px;
}

.bottomZitat {
    background: #fff;
    text-align: center;
    color: #EA5E0F;
}

.detailsWrapper {
    display: none;
}

/*Gallery*/
#Galerie .topper {

    background: lightslategray;
}

.preview {
    height: 0;
    width: 100%;
    white-space: nowrap;
    overflow-y: hidden;

}

#imgBox {
    height: 315px;
    overflow-y: hidden;
    display: inline-flex;
    padding-left: 100px;
    padding-right: 85px;
    padding-top: 10px;
    background: lightslategray;
}

.previewImg {
    height: 300px;
    display: inline-block;
    margin-right: 15px;
    box-shadow: 0px 0px 10px;

}

.previewButton {
    position: absolute;
    width: 100px;
    position: absolute;
    text-align: center;
    background-color: #333333;
    width: 100px;
    opacity: 0.96;
    box-shadow: 0px 0px 15px;

}

#closeP {
    width: 50px;
    height: 50px;
    right: 110px;
    bottom: 610px;
    background-image: url("../assets/cancel-64.png");
    background-size: contain;
    background-color: transparent;
    box-shadow: none;
}

#left {
    height: 315px;
    width: 100px;
    left: 0;
}

#right {
    height: 315px;
    width: 100px;
    right: 0;
}

#closeP:hover {
    cursor: pointer;
}

#albums {
    background-color: #edebe9;
    padding-top: 30px;
    padding-bottom: 40px;

}

.album {
    display: inline-block;
    margin: 10px;
    margin-left: 0;
    width: 200px;
    height: 150px;
    color: #fff;
    vertical-align: middle;
    font-size: 18px;
    background-position-x: 65px;
    background-position-y: 45px;
    background-repeat: no-repeat;
    background-color: #8C9E8E;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    padding: 10px;
    box-sizing: border-box;

}

.album:hover {
    background-color: #B4CCB7;
    cursor: pointer;
}

.albumDiv {
    display: table;
    margin: 0 auto;
}

#album1 {
    background-image: url("../assets/chiken-64.png");
    text-align: center;

}

#album2 {
    background-image: url("../assets/spade-64.png");

    text-align: center;
}

#album3 {
    background-image: url("../assets/frisbee-64.png");

    text-align: center;
}

#album4 {
    background-image: url("../assets/camping_tent-64.png");

    text-align: center;
}
