nav{
	padding: 20px;
	position: fixed;
	height: 100%;
	width: inherit;
	z-index: 1;
}
nav a{
	display: block;
	text-decoration: none;
	color: black;
	font-size: 25px;
	line-height: 35px;
}
a:hover{
	color: white;
}
section{
	position: relative;
	width: 100%;
}
section img{
	width: 100%;
}